.App {
  text-align: center;
}

.homepage img {
  width: 100%;
}

.location-body {
  background-color: #4D8989;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #142C2C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locations-grid {
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
}

.locations-grid img { 
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  width: 100%;
  height: 10em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
} 

.hikes-grid {
  background-color: #4D8989;
  display: flex;
  flex-direction: wrap;
  justify-content: space-around;
  width: 50%;
  height: 10em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}

.location-details img {
  width: 50%;
  height: 10em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
}
