.App {
  text-align: center;
}

.homepage img {
  width: 100%;
}

.location-body {
  background-color: #4D8989;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  background-color: #142C2C;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.locations-title {
  margin: 0;
  background-color: aquamarine;
  text-shadow: 0 0 10px black;
  font-size: 45px;
  font-weight: 400;
}
.locations-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: space-evenly;
}

.locations-grid img { 
  width: 100%;
  height: 10em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
  border: solid 5px black;
  border-radius: 15%;
} 
.trails {
  margin: 0;
  background-color: aquamarine;
  text-shadow: 0 0 10px black;
  font-size: 45px;
  font-weight: 400;
}
.hikes-grid {
  background-color: #4D8989;
  display: grid;
  grid-template-columns: repeat (4, auto);
  justify-content: space-evenly;
}

 .hikes-grid img{
  width: 50%;
  height: 15em;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
  border: solid 5px black;
  border-radius: 15%;
  
}

.location-details img {
  width: 50%;
  height: 75%;
  object-fit: center;
  box-shadow: inset 0 0 1em rgb(0, 0, 0);
  border: solid 5px black;
  border-radius: 15%;
}
